**/node_modules/
**/build/
**/.next/
**/dist/
**/out/
**/.firebase/
**/bin/
**/obj/
**/.dart_tool/
**/.pub-cache/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
*.apk
*.so
*.dill
*.exe
*.dll
*.pdb
*.ipa
*.app
.env*
*.local
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sh/
.DS_Store
